﻿@model ASEAPROJECT.Dtos.DailyVerificationLogs.DailyVerifcationLogDto;

<div asp-validation-summary="All" class="alert"></div>
<br />

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="date">@L("Date")</label>
            <input type="date" asp-for="date" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="hour">@L("hour")</label>
            <input asp-for="hour" type="datetime-local" class="form-control" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="folio">@L("folio")</label>
            <input asp-for="folio" type="text" class="form-control" />
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-6">
        <label>@L("tanksArea")</label>
        @foreach(var tank in ViewBag.tank)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="tanks" value="@tank.Id" checked="@Model.tanks.Any(t => t.tank_id == tank.Id)" />@tank.name</label>
            </div>

        }
    </div>

    <div class="col-md-6">
        <label>@L("ElectricRoom")</label>
        @foreach(var elec in ViewBag.electrics)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="electrics" value="@elec.Id" checked="@Model.ElectrictRoom.Any(e => e.equip_id == elec.Id)"/>@elec.name</label>
            </div>

        }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label>@L("machinesArea")</label>
        @foreach(var machine in ViewBag.machines)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="machines" value="@machine.Id" checked="@Model.machinary.Any(m => m.machine_id == machine.Id)" />@machine.name</label>
            </div>

        }
    </div>

    <div class="col-md-6">
        <label>@L("Grocery")</label>
        @foreach (var item in ViewBag.grocery) {
            <div class="checkbox">
                <label><input type="checkbox" name="grocery" value="@item.Id" checked="@Model.grocery.Any(g => g.item_id == item.Id)" />@item.Id</label>
            </div>
         }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label>@L("DangerResiduesArea")</label>
        @foreach(var residue in ViewBag.residues)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="residues" value="@residue.Id" checked="@Model.residues.Any(r => r.residue_id == residue.Id)" />@residue.name</label>
            </div>

        }
    </div>

    <div class="col-md-6">
        <label>@L("CommonItems")</label>
        @foreach(var item in ViewBag.commons)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="commons" value="@item.Id" checked="@Model.common.Any(c => c.item_id == item.Id)" />@item.Id</label>
            </div>

        }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label>@L("MensBathroomArea") </label>
        @foreach(var men in ViewBag.mens)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="mens" value="@men.Id" checked="@Model.Mbathroom.Any(m => m.bathroom_id == men.Id)" />@men.name</label>
            </div>

        }
    </div>

    <div class="col-md-6">
        <label>@L("Dispensers")</label>
        @foreach(var item in ViewBag.dispensers)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="dispensers" value="@item.Id" checked="@Model.dispenser.Any(d => d.item_id == item.Id)" />@item.name</label>
            </div>

        }
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <label>@L("WomensBathroomAre")</label>
        @foreach(var woman in ViewBag.women)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="women" value="@woman.Id" checked="@Model.Wbathroom.Any(w => w.bathroom_id == woman.Id)"/>@woman.name</label>
            </div>

        }
    </div>

    <div class="col-md-6">
        <label>@L("DispatchArea")</label>
        @foreach(var item in ViewBag.dispatchers)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="dispatchers" value="@item.Id" checked="@Model.dispatch.Any(d => d.item_id == item.Id)" />@item.name</label>
            </div>

        }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label>@L("EmployeeArea")</label>
        @foreach(var item in ViewBag.employees)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="employees" value="@item.Id" checked="@Model.employees.Any(e => e.item_id == item.Id)" />@item.name</label>
            </div>

        }
    </div>

    <div class="col-md-6">
        <label>@L("extinguishers")</label>
        @foreach(var item in ViewBag.extinguishers)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="extinguishers" value="@item.Id" checked="@Model.extinguisher.Any(e => e.item_id == item.Id)" />@item.Id</label>
            </div>

        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="comments">@L("comments")</label>
            <textarea asp-for="comments" rows="5" cols="50"></textarea>
        </div>
    </div>
</div>