﻿@model ASEAPROJECT.Dtos.DailyVerificationLogs.DailyVerifcationLogDto


@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-9">
        <form asp-action="Edit" asp-controller="DailyLogs">
            <h2>@L("Edit")</h2>
            <input type="hidden" asp-for="Id" />
            <div id="form-fields">
                @await Html.PartialAsync("_Form");
            </div>
            <a asp-action="Index" class="btn btn-danger">@L("back")</a>
            <input name="create" type="submit" class="btn btn-primary" value="@L("Save")" />
        </form>
    </div>
</div>