﻿@model IEnumerable<ASEAPROJECT.Dtos.FrecuencyOfActivities.FrecuencyOfActivityDto>

    @{
    ViewData["Title"] = "Index";
    }

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        @L("Frecuencies")
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block">
                                        <i class="material-icons">refresh</i>Refresh
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@L("Name")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var frecuencyDto in Model)
                        {
                                <tr>
                                    <td>@frecuencyDto.name</td>
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="#" class="waves-effect waves-block edit-frecuencyDto" data-frecuencyDto-id="@frecuencyDto.Id"
                                                   data-toggle="modal" data-target="#dialog" data-action="Frecuencies/Edit?id=@frecuencyDto.Id">
                                                    <i class="material-icons">edit</i>@L("Edit")
                                                </a>
                                            </li>
                                            <li>
                                                <a id="delete" url="/Frecuencies/Delete" class="waves-effect waves-block delete-frecuencyDto" data-Dto-id="@frecuencyDto.Id">
                                                    <i class="material-icons">delete_sweep</i>@L("Delete")
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                        }
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal"
                            data-target="#dialog" data-action="/Frecuencies/Create">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div>
        @await Html.PartialAsync("Modals/_Modal")
    </div>
