﻿@model ASEAPROJECT.Dtos.Logs.LogDto;

<div asp-validation-summary="All" class="alert"></div>
<br />

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="frecuency_id">@L("Frecuency")</label>
            <select class="form-control" asp-for="frecuency_id" >
                @foreach(var item in ViewBag.frecuencies)
                {
                    <option value = "@item.Id" > @item.name</option >
                }
                <!---->
            </select>
        </div>
        <div class="form-group">
            <label asp-for="date">@L("Date")</label>
            <input asp-for="date" type="datetime-local" class="form-control" />
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-6">
                    <label asp-for="begin">@L("beginHour")</label>
                    <input asp-for="begin" type="time" class="form-control" />
                </div>
                <div class="col-sm-6">
                    <label asp-for="end">@L("endHour")</label>
                    <input asp-for="end" type="time" class="form-control" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="event_type_id">@L("EventType")</label>
            <select asp-for="event_type_id" class="form-control" >
                @foreach (var item in ViewBag.events)
                {
                    <option value="@item.Id"> @item.name</option>
                }
            </select>
        </div>
    </div>
    

    <div class="col-sm-6">
        <div class="form-group">
            <label asp-for="firm_id">@L("Firm")</label>
            <select asp-for="firm_id" class="form-control">
                @foreach (var item in ViewBag.firms)
                {
                    <option value="@item.Id"> @item.company_name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="certication_number">@L("Certification")</label>
            <input asp-for="certication_number" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="comments">@L("comments")</label>
            <textarea asp-for="comments" class="form-control"></textarea>
        </div>
    </div>
</div>