﻿
@{ 
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-9">
        <form asp-action="Create" asp-controller="Logs" >
            <h2>@L("Create")</h2>
            <div id="form-fields">
                @await Html.PartialAsync("_Form")
            </div>
            <a asp-action="Index" class="btn btn-danger">@L("back")</a>
            <input name="create"  type="submit" class="btn btn-primary" value="@L("Save")" />
        </form>
    </div>
</div>