﻿@model IEnumerable<ASEAPROJECT.Dtos.Logs.LogDto>

@{
    ViewData["Title"] = "Index";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("Logs")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block">
                                    <i class="material-icons">refresh</i>Refresh
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("Certification_Number")</th>
                            <th>@L("Begin")</th>
                            <th>@L("End")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var logDto in Model)
                        {
                            <tr>
                                <td>@logDto.certication_number</td>
                                <td>@logDto.begin</td>
                                <td>@logDto.end</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a title="@L("Edit")" name="edit" asp-action="Edit" asp-controller="Logs"
                                               asp-route-id="@logDto.Id">
                                                <i class="material-icons">edit</i>@L("Edit")
                                            </a>
                                        </li>
                                        <li>
                                            <a id="delete" url="/Logs/Delete" class="waves-effect waves-block delete-logDto" data-Dto-id="@logDto.Id">
                                                <i class="material-icons">delete_sweep</i>@L("Delete")
                                            </a>
                                        </li>
                                        <li>
                                            <a id="toPdf" href="/Logs/toPdf/@logDto.Id" class="waves-effect waves-block toPdf-logDto" target="_blank" data-Dto-id="@logDto.Id">
                                                <i class="material-icons">assignment_returned</i>@L("toPDF")
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input name="create-new" class="btn btn-primary pull-right" type="button" value="@L("createNew")" onclick="location.href='@Url.Action("Create","Logs")'" />
            </div>
        </div>
    </div>
</div>
