﻿@model ASEAPROJECT.Dtos.Logs.LogDto
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <title>Demo</title>
    <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/src/jquery.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <h3>Bitacora Anual de Actividades</h3>
        </div>
        <div class="col-md-6">
            <h3>@Model.Id</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <span>Hora de inicio: </span>@Model.begin.ToLocalTime()
        </div>
        <div class="col-md-6">
            <span>Hora Final: </span>@Model.end.ToLocalTime()
        </div>
    </div>

    <div class="row">
        <p>@Model.comments</p>

        <br />

        <span>Certificado No. </span> @Model.certication_number
    </div>
</body>
</html>  