﻿@model ASEAPROJECT.Dtos.ExternalRoles.ExternalRoleDto
@{
    ViewData["Title"] = "Edit";
}



<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="ExternalRoles" asp-for="Id" id="paramForm">
            <h2>@L("Edit")</h2>
            <input type="hidden" asp-for="Id" />
            <div id="form-fields">
                @await Html.PartialAsync("_Form");
            </div>
        </form>
    </div>
</div>
