﻿@model ASEAPROJECT.Dtos.Machines.MachineDto
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Machines" asp-for="Id" id="paramForm">
            <h2>@L("Create")</h2>

            <div id="form-fields">
                @await Html.PartialAsync("_Form")
            </div>
        </form>
    </div>
</div>

