﻿<div class="modal fade" id="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <i class="fa fa-spinner fa-pulse fa-lg fa-fw" id="spinner" style="display:none"></i>
                <button name="cancel" type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                <button name="save" type="button" class="btn btn-primary" id="save">@L("Save")</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
