﻿@model ASEAPROJECT.Dtos.ExternalFirms.ExternalFirmDto

<div asp-validation-summary="All" class="alert"></div>
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label asp-for="tradename">@L("TradeName")</label>
            <input class="form-control" asp-for="tradename" />
            <span asp-validation-for="tradename" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="company_name" class="control-label">@L("Company_Name")</label>
            <input asp-for="company_name" class="form-control" />
            <span asp-validation-for="company_name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="addres" class="control-label">@L("Address")</label>
            <input asp-for="addres" class="form-control" />
            <span asp-validation-for="addres" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="email" class="control-label">@L("Email")</label>
            <input asp-for="email" class="form-control" />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>roles</label>
            @foreach(var role in ViewBag.roles)
            {
                <div class="checkbox">
                    <label><input type="checkbox" name="roles" value="@role.Id" checked="@Model.roles.Any(r =>r.role_id == role.Id)" />@role.name</label>
                </div>

            }
        </div>
    </div>
</div>
