﻿@model ASEAPROJECT.Dtos.ResidualLogs.ResidualLogDto

<div asp-validation-summary="All" class="alert"></div>
<br />

<div class="row">
    <div class=" col-md-6">
        <div class="form-inline">
            <label class="control-label">@L("ResidueType"):</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="residueType" value="Peligroso">
                <label class="form-check-label" for="residueType">@L("Danger")</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="residueType" value="No Peligroso">
                <label class="form-check-label" for="residueType">@L("Nodanger")</label>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="form-inline">
            <label>@L("Personalauth"):</label>
                <div class="form-check form-check-inline">
                    <input asp-for="personalAuth" type="radio" value='1' />
                    <label class="form-check-label" for="personalAuth">@L("Yes")</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="personalAuth" type="radio" value='0' />
                    <label class="form-check-label" for="personalAuth">@L("No")</label>
                </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class=" col-md-6">
        <div class="form-group">
            <label asp-for="civilpermission" class="control-label">@L("Civilpermission")</label>
            <input asp-for="civilpermission" class="form-control" />
            <span asp-validation-for="civilpermission" class="text-danger"></span>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="form-group">
            <label asp-for="temp_storage_id" class="control-label">@L("Tempsavage")</label>
            <select asp-for="temp_storage_id" class="form-control">
                <option>Chose one option</option>
                @foreach (var storage in ViewBag.storages)
                {
                    <option value="@storage.Id" selected="@(Model.temp_storage_id == storage.Id)">@storage.name</option>
                }
            </select>
            <span asp-validation-for="temp_storage_id" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="certnumber" class="control-label">@L("Certnumber")</label>
            <input asp-for="certnumber" class="form-control" />
            <span asp-validation-for="certnumber" class="text-danger"></span>
        </div>
    </div>

    <div class=" col-md-3">
        <div class="form-group">
            <label asp-for="manifestnumber" class="control-label">@L("Manifestnumber")</label>
            <input asp-for="manifestnumber" class="form-control" />
            <span asp-validation-for="manifestnumber" class="text-danger"></span>
        </div>
    </div>

    <div class=" col-md-3">
        <div class="form-group">
            <label asp-for="emissiondate" class="control-label">@L("Emissiondate")</label>
            <input asp-for="emissiondate" type="date" class="form-control" />
            <span asp-validation-for="emissiondate" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class=" col-md-6">
        <label asp-for="solidrests" class="control-label">@L("Solidrests")</label>
        <div class="input-group">
            <input type="number" asp-for="solidrests" class="form-control" />
            <div class="input-group-append">
                <span class="input-group-text">Kg</span>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <label asp-for="liquidrests" class="control-label">@L("Liquidrests")</label>
        <div class="input-group">
            <input type="number" asp-for="liquidrests" class="form-control" />
            <div class="input-group-append">
                <span class="input-group-text">Lt</span>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class=" col-md-6">
        <label>@L("Equipment")</label>
        <div class="input-group">
            @foreach (var item in ViewBag.items)
            {
                <div class="form-check checkbox">
                    <input class="form-check-input" type="checkbox" value="@item.Id" id="defaultCheck1" checked="@(Model.equipment.Any(e => e.equip_id == item.Id))">
                    <label class="form-check-label" for="defaultCheck1">
                        @item.name
                    </label>
                </div>
            }
        </div>
        </div>
    </div>


    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@L("Name")</th>
                    <th>@L("Firm")</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@("Extraccion")</td>
                    <td>
                        <select asp-for="extraction_firm_id" class="form-control">
                            @foreach (var option in ViewBag.extraccion)
                            {
                                <option value="@option.Id" selected="@(Model.extraction_firm_id == option.Id )">@option.tradename</option>

                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>@L("Transporte")</td>
                    <td>
                        <select asp-for="shipping_firm_id" class="form-control">
                            @foreach (var option in ViewBag.transporte)
                            {
                                <option value="@option.Id" selected="@(Model.shipping_firm_id == option.Id )">@option.tradename</option>

                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>@L("recepcion")</td>
                    <td>
                        <select asp-for="reception_firm_id" class="form-control">
                            @foreach (var option in ViewBag.Recepcion)
                            {
                                <option value="@option.Id" selected="@(Model.reception_firm_id == option.Id )">@option.tradename</option>
                            }
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <label asp-for="comments">@L("comments")</label>
        <textarea asp-for="comments" class="form-control"></textarea>
    </div>
