﻿@model ASEAPROJECT.Dtos.ResidualLogs.ResidualLogDto


<div class="row">
    <div class="col-md-9">
        <form asp-action="Edit" asp-controller="ResidualLogs">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>@L("Edit")</h2>
            <input type="hidden" asp-for="Id" />

            <div id="form-fields">
                @await Html.PartialAsync("_Form")
            </div>
           

            <a asp-action="Index" class="btn btn-danger">@L("back")</a>
            <input type="submit" value="@L("Save")" class="btn btn-primary" />
        </form>
    </div>
</div>
