﻿@model ASEAPROJECT.Dtos.ResidualLogs.ResidualLogDto
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <title>Demo</title>
    <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/src/jquery.js"></script>
</head>
<body>
</body>
</html>  