﻿@model IEnumerable<ASEAPROJECT.Dtos.DispatchItems.DispatchItemDto>

@{
    ViewData["Title"] = "Index";
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("DispatchItems")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block">
                                    <i class="material-icons">refresh</i>Refresh
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("Name")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var eventDto in Model)
                        {
                            <tr>
                                <td>@eventDto.name</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="#" class="waves-effect waves-block edit-itemDto" data-eventDto-id="@eventDto.Id"
                                               data-toggle="modal" data-target="#dialog" data-action="DipatchIems/Edit?id=@eventDto.Id">
                                                <i class="material-icons">edit</i>@L("Edit")
                                            </a>
                                        </li>
                                        <li>
                                            <a id="delete" url="/DispatchItems/Delete" class="waves-effect waves-block delete-eventDto" data-Dto-id="@eventDto.Id">
                                                <i class="material-icons">delete_sweep</i>@L("Delete")
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal"
                        data-target="#dialog" data-action="/DispatchItems/Create">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>


<div>
    @await Html.PartialAsync("Modals/_Modal")
</div>