﻿@model ASEAPROJECT.Dtos.Tanks.TankDto

<div asp-validation-summary="All" class="alert"></div>
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label asp-for="name">@L("Name")</label>
            <input class="form-control" asp-for="name" />
        </div>
    </div>
</div>